<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>You have been to this page <%=views%> times.</p>
	<a href="/auth/logout">RESET VIEWS</a>
  </body>
</html>
